.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial, sans-serif';
}

.sidebar {
  width: 250px;
  background-color: rgb(61, 87, 61);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  margin-bottom: 10px;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  width: 100%;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #8FBC8F;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-navbar {
  background-color: DarkSeaGreen;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  font-size: 20px;
}

.dashboard-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  width: 200px;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-size: 2em;
  margin: 0;
}

.card-info a {
  color: #2E8B57;
  text-decoration: none;
  font-size: 0.9em;
}

.card-info a:hover {
  text-decoration: underline;
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: #f8f9fa;
  color: #6c757d;
  margin-top: auto;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  width: 100%;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #8FBC8F;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.top-navbar {
  background-color: DarkSeaGreen;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  color: rgb(61, 87, 61);
}