.home-page {
  background-color: DarkSeaGreen;
  color: black;
  font-family: 'Arial, sans-serif';
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  /* Ensure it covers full screen height */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 0 50px;
  /* Adjust padding for better spacing */
}

.text-section {
  flex: 1;
  padding-right: 50px;
  /* Space between text and image */
}

.text-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.buttons .btn-primary,
.buttons .btn-secondary {
  padding: 20px 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #2E8B57;
  color: #ffffff;
}

.btn-secondary {
  background-color: #2E8B57;
  color: #ffffff;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  /* Add some padding to improve spacing */
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Optional: gives the image rounded corners */
  object-fit: contain;
  /* Ensure the image scales correctly within its container */
}