<div class="home-page">
  <div class="navbar">
    <div class="logo">ParkZen</div>
    <div class="nav-links">
      <a href="#">Home</a>
      <a routerLink="about">About</a>
      <a routerLink="/check">Check</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Sign In</a>


    </div>
  </div>

  <div class="content">
    <div class="text-section">
      <h1>ParkZen</h1>
      <p>
        At ParkZen, we believe parking should be the least of your worries. Relax and let us handle the rest.
      </p>
      <div class="buttons">
        <button class="btn-primary">Check</button>
        <button class="btn-secondary">Login</button>
      </div>
    </div>
    <div class="image-section">
      <img src="home.png" />
    </div>
  </div>
</div>