<div class="hero">

  <nav>
    <img src="logo.png" class="logo">
    <ul>
      <li><a routerLink="/parking">Check</a></li>
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>

  <div class="lamp-container">
    <img src="lamp.png" class="lamp">
    <img src="light.png" class="light" id="light">
  </div>

  <div class="text-container">
    <h1>Parking</h1>
    <br><br>
    <p>
      Park smart, drive happy</p>
    <a routerLink="/parking">Check</a>

  </div>

</div>