<div class="hero">
  <div class="parent-div">

    <nav _ngcontent-ng-c1761374871=""><img _ngcontent-ng-c1761374871="" src="logo.png" class="logo">
      <ul _ngcontent-ng-c1761374871="">
        <li _ngcontent-ng-c1761374871=""><a _ngcontent-ng-c1761374871="" routerlink="/parking"
            ng-reflect-router-link="/Home" href="/home">Home</a></li>
        <li _ngcontent-ng-c1761374871=""><a _ngcontent-ng-c1761374871="" routerlink="/signup"
            ng-reflect-router-link="/parking" href="/parking">Check</a></li>
        <li _ngcontent-ng-c1761374871=""><a _ngcontent-ng-c1761374871="" routerlink="/login"
            ng-reflect-router-link="/signup" href="/signup">Sign up</a></li>
      </ul>
    </nav>
  </div>
  <div style="height: 500px;" leaflet [leafletOptions]="options" [leafletLayers]="layers">
  </div>
</div>